/* TAGS */

:root {

  /* COLORS */
  --charcoal: #161C20;
  --pearl: linear-gradient(35deg, #ccffff, #ffcccc);
  --white_weak: rgba(255, 255, 255, 0.7);
  --blue_hover: #89CFF0;
  --blue_weak: rgba(137, 207, 240, 0.4);
  --blue_strong: rgb(137, 207, 240);
  --pink_weak: rgb(255, 204, 204, 0.4);
  --pink_strong: rgb(255, 204, 204);

  /* IMAGES */
  --general_background: url("../img/background-3.jpg");
}

/* Set wallpaper */
html {
  background: var(--general_background) no-repeat center center fixed; /* Gap */
  background-size: cover;
}

/* Set generic image size */
img {
    max-width:100%;
    height: auto;
}



/* Set font for entire website */
body {
  font-family: courier-new, monospace;
}

/* Format generic table */
table {
  position: relative;
  margin: 40px auto 25px auto;    /* Was split into four separate properties before... */
  width: 90%;
  border: 5px solid var(--charcoal);
}

/* Format generic table cell */
td, th {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Set background color for generic table row */
tr {
    background-color: var(--white_weak);
}

/* Format headers */
h2, h3 {
  color: var(--charcoal);
  text-align: center;
}

/* Format horizontal line */
hr {
  background-color: var(--charcoal);
  height: 1px;
  border: none;   /* This is actually useful! */
  width: 95%;
}

/* CLASSES */

/*For gallery photos */
.gallery {
  padding-top: 50px;
  padding-bottom: 65px;
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* "Animation" for links/buttons */
.grow {
}

.grow:hover {
  transform: scale(1.1);
}

/* "Animation" for descriptions/plaques/calendar */
.slow-grow {
}

.slow-grow:hover {
transform: scale(1.1);
transition: all 1s ease-out;    /* Gap */
}

.social-icon {
  height: 50px;
  width: 50px;
  border: 2px solid var(--charcoal);
  border-radius: 10%;
}

.social-link {  /* Position icons properly... */
  float: left;
  width: 25%;
  position: relative;
  margin-top: 4px;
  margin-bottom: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--blue_weak);
  color: white;
  text-align: center;

}

/* For main logo */
.center {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 10%
}

.header {
  overflow: hidden;
  padding: 20px 10px;
}

.navbar-ul {   /*Set z-value higher than member social icons! */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--blue_weak);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100
}

/* Format navbar-link text */
.navbar-ul li a {
  display: block;
  color: var(--charcoal);
  text-align: center;
  padding: 14px;    /* Had 16px as second argument before... */
  text-decoration: none;
}

/* Change navbar button to vibrant blue on hover */
.nav-item a:hover, .profile-nav-item a:hover {
  background-color: var(--blue_hover);
}

/* Change navbar button to vibrant blue on hover */
.active {
  background-color: var(--blue_hover) !important;
}

.nav-item {
  float: left;
  width: 8%;
  font-family: courier-new, monospace;
  font-size: 12px;
}

.profile-nav-item {
  float:  right;
  width: 10%;
  font-family: courier-new, monospace;
  font-size: 12px;
}

.logout-nav-item {
  float:  right;
  width: 10%;
  font-family: courier-new, monospace;
  font-size: 12px;
}

.description {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
  width: 90%;
}

.description-cell {
  padding-left: 20px;
  padding-right: 20px;
}

.members-header {
  display: block;
  margin: 10px auto 10px auto;
  text-decoration: underline;
  background-color: var(--blue_weak);
  border-radius: 20px;
  width: 38%;

}

.member-grid {
  padding: 20px 0px 100px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.member {
  border: 2px solid white;
  border-radius: 5%;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white_weak);
}

.member-photo {
  display: block;
  max-width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
  border-radius: 5%;
  filter: grayscale(15%);
  border: 2px solid #161C20;
}

.member-name {
  padding-top: 15px;
  font-size: 20px;
}

.member-role {
  position: relative;
  font-style: italic;
  font-size: 16px;
  background: var(--pearl); /* pearl */
}

.member-socials {
  text-align: center;
  background: var(--blue_weak);
}

.member-link {  /* Position icons properly... */
  float: left;
  width: 33%;
  position: relative;
  margin-top: 4px;
  margin-bottom: auto;
}

.member-icon {
  height: 25px;
  width: 25px;
  border: 2px solid var(--charcoal);
  border-radius: 10%;
  margin-bottom: 10px;
}

.first-member {
  /* grid-column: 1 / 3; */ /* REVISIT */
  grid-row: 1;
  /* margin-left: 20px !important; */
}

.second-member {
  grid-column: 2 / 3;
  grid-row: 1;
}

.third-member {
  grid-column: 3 / 3;
  grid-row: 1;
  /* margin-right: 20px !important; */
}

.fourth-member {
  /* grid-column: 1 / 3; */ /* REVISIT */
  grid-row: 2;
  /* margin-left: 20px !important; */
}

.fifth-member {
  grid-column: 2 / 3;
  grid-row: 2;
}

.sixth-member {
  grid-column: 3 / 3;
  grid-row: 2;
  /* margin-right: 20px !important; */
}

.seventh-member {
  /* grid-column: 1 / 3; */
  grid-row: 3;
  /* margin-right: 20px !important; */
}

.eighth-member {
  grid-column: 2 / 3;
  grid-row: 3;
  /* margin-right: 20px !important; */
}

.ninth-member {
  grid-column: 3 / 3;
  grid-row: 3;
  /* margin-right: 20px !important; */
}

#general-body-members-table {
  margin-bottom: 80px;
}

#general-body-members-table th {
  background-color: var(--blue_hover);
}

.change-password-text {
  float: right;
}

.registration-button {
  background-color: var(--blue_strong);
  color: var(--charcoal);
  padding: 12px 12px 12px 12px;
  width: 30%;
  border: 2px solid white;
  font-size: 18px;
  font-family: courier-new, monospace;
  border-radius: 10px;
}

/* Background for about page */
#about-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;    /* Puts background beneath other elements */
  filter: grayscale(25%);
}

/* Animation for logo on homepage */
#logo-animation {
  animation-name: fade-in;
  animation-duration: 5s;
}

/* Animation for about-description */
#about-animation {
  animation-name: fade-in;
  animation-duration: 5s;
}

/* For container with the two registration buttons */
#registration-group {
  padding: 10px 10px 10px 10px;
  position: relative;
  text-align: center;
  margin-bottom: 85px;
}

#tier-table-div {
  margin: 20px;
}

#tier-table {
  margin-top: 100px;


}

#tier-table td {
  padding: 10px !important;
}

#tier-table th {
  padding: 10px !important;
}

#tier-about-cell {
  margin: 10px;
}


.tier-description-cell {
  text-align: left !important;

}

/* Fade-in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
