<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load active_link_tags %}

<html style = "background: none;">

  {% block content %}
  


      <div>
        <img id = "about-background" src="{% static 'assets/img/about-banner.jpg' %}" alt="Banner with image of club event">
      </div>

      <!-- Description of club -->
      <div id = "about-animation">
          <table class = "description slow-grow">
              <thead>
              </thead>
              <tbody>

                <tr style = "background-color: rgba(255, 255, 255, 0.9); line-height: 1.75; font-size: 20px;">
                    <td class = "description-cell">
                      <p>
                        Established in 2017, Cookies & Code is Tulane's premier technology club dedicated to
                        organizing events related to computer science. We aim to provide our members with a
                        variety of different events such as programming tutorials, internship
                        panels, hacking competitions, and various speaking engagements.
                      </p>
                      <hr>
                      <p>
                        We also provide free cookies at all of our events! Otherwise we'd just be called "Code."
                      </p>
                    </td>
                </tr>
              </tbody>
          </table>
      </div>

  {% block javascript %}
  <script>
    $(document).ready(function(){
 
      $('.navbar-li > a').click(function (e) {
          console.log("hii");
          //$('.navbar-li > a').removeClass('active');
          $(this).addClass('active');
      });
    });


  </script>
  {% endblock javascript %}


    {% endblock %}
</html>

