<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load active_link_tags %}

<html style = "background: none;">
  {% block content %}

    <!-- ADD IMAGES!!! NOTE: For deployment, file extensions are case-sensitive -->
    <img class="gallery" src="{% static 'assets/img/mem1.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/mem2.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/mem3.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/mem4.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/mem5.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/mem6.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/sgh1.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/sgh2.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-code-1.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-code-2.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-code-3.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-hack-1.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-hack-2.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-hack-3.jpg'%}" alt="Event photo">
    <img class="gallery" src="{% static 'assets/img/learn-to-hack-4.jpg'%}" alt="Event photo">

   
  {% endblock %}

</html>
