<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load active_link_tags %}

<html style = "background: none;">

  {% block content %}


    <!-- Main logo -->
    <div style = "background: linear-gradient(35deg, rgba(204, 255, 255, 0.8), rgba(255, 204, 204, 0.8)); position: relative; margin-left: -10px; margin-right: -10px;">   <!-- Add banner! -->
      <img id = "logo-animation" style = "box-shadow: 0 0 8px 8px rgba(137, 207, 240, 0.4); opacity: 0.9;" class = "center" src = "{% static 'assets/img/logo.png' %}" alt="Cookies and code logo">
    </div>
    <!-- Animated event calendar -->
    <div>
        <table class = "slow-grow">
            <thead style="background: rgba(137, 207, 240, 1); ">
              <tr>
                  <th>What?</th>
                  <th>When?</th>
                  <th>Where?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td scope="row">First Meeting</td>
                  <td>Thursday 9/1 @ 5-6pm</td>
                  <td>TBD</td>
              </tr>
              <tr>
                <td scope="row">First Event</td>
                <td>Thursday, 9/8 (Time TBD)</td>
                <td>TBD</td>
              </tr>
              
            </tbody>
        </table>
    </div>
    <!-- Registration buttons -->
    <div id="registration-group">
      <button class = "registration-button grow" style = "margin-right: 60px;"><a target = "_blank" style = "text-decoration: none; color: #161C20;" href = "https://tulane.campuslabs.com/engage/organization/cookies-and-code">Join General Body</a></button> <!-- WHY WON'T BUTTONS GROW?!? -->
      <button class = "registration-button grow" style = "margin-left: 60px;"><a target = "_blank" style = "text-decoration: none; color: #161C20;" href = "https://forms.gle/5SJTmKwoMPurRdj56">Apply to Be an Officer</a></button> <!-- Link to registation forms once they're made! -->
    </div>

   {% endblock %}
</html>
