<!DOCTYPE html>
{% extends "./base.html" %}
{% load static %}
{% load active_link_tags %}

<html style = "background: none;">
  {% block content %}
  
    <!-- Description -->
    <div>
        <table class = "description slow-grow">
            <thead style="background: rgba(137, 207, 240, 1); ">
              <tr>
                  <th>Our Membership</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                  <td class = "description-cell">
                    <p>
                      Our membership is divided into two categories: <strong>general body</strong> and <strong>excecutive board</strong>.
                      Our general body is 200+ members strong, and we encourage any Tulane student who has
                      an interest in computer science to join. General body members receive emails about C&C
                      events and are privy to new developments happening within the club.
                    </p>
                    <hr>
                    <p>
                      Our excecutive board is comprised of seven officers who work together in organizing events.
                      Anyone who has been an active general-body member for <strong><em>at least one semester</em></strong> is encouraged to
                      apply to be an officer. Officers are also responsible for adding new dimensions to the club,
                      such as this website.
                    </p>
                  </td>
              </tr>
            </tbody>
        </table>
    </div>

    <div id="tier-table-div">
      <table id="tier-table" class="slow-grow">
        

        <thead style="background: rgba(137, 207, 240, 1); ">
          <tr>
              <th id="tier-table-header" colspan="3">General Body Membership Tiers</th>
          </tr>
        </thead>

        <tbody>

          <tr id="tier-about-row">
            <td colspan="3" class="description-cell"id="tier-about-cell">
              Beginning in the Fall 2022 semester, Cookies & Code introduced a <strong>Tier-Based Membership System</strong>. Our <strong>Events</strong> are worth {{ event_points }} points while our <strong>Meetings</strong> are worth {{ meeting_points }} points. Members' membership tiers dynamically update as they attend our meetings/event, with membership tiers officially being awarded at the end of the semester. These tiers are geared to help promote a sense of celebration towards members who go above and beyond just being registered with the club. Checkout <a href="{% url 'main:profile' %}">your profile page</a> to view your attendance, points, and tier throughout the semester! The tiers are as follows:
            </td>
          </tr>

          <tr>
            <th> Tier Name </th>
            <th> Minimum Points </th>
            <th> Tier Description </th>
          </tr>
          {% for tier in tiers_data %}
          <tr>
            <th>{{ tier.name }}</th>
            <td>{{ tier.points }}</td>
            <td class="tier-description-cell">{{ tier.description }}</td>
            
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>

    <!-- Member profiles -->
    <h2 class="members-header"> Executive Board Members </h2>
    <div class = "member-grid">

      <!-- First member... -->
            <div class="member first-member slow-grow">
              <img class="member-photo" src="{% static 'assets/img/bennett.jpg' %}" alt="Bennett photo">
              <h2 class="member-name">Lauren Janko</h2>
              <h3 class="member-role">President</h3>
            
              <footer class="member-socials">
                <!-- Animate the logos to get larger when you hover over them!!! -->
                <div class="member-link">
                  <a href="https://github.com/bennettkahn" target="_blank"><img class="member-icon grow"
                      src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
                </div>
            
                <div class="member-link">
                  <a href="https://www.instagram.com/bennett_kahn_/" target="_blank"><img class="member-icon grow"
                      src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
                </div>
            
                <div class="member-link">
                  <a href="www.linkedin.com/in/bennett-kahn"><img class="member-icon" src="{% static 'assets/img/linkedin-icon.png' %}"
                      alt="LinkedIn icon"></a>
                </div>
              </footer>
            </div>

      <!-- Second member... -->
      <div class="member second-member slow-grow">
        <img class="member-photo" src="{% static 'assets/img/indigo.png' %}" alt="Indigo photo">
        <h2 class="member-name">Indigo Emanuel</h2>
        <h3 class="member-role">Executive Vice President</h3>
      
        <footer class="member-socials">
          <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class="member-link">
            <a href="https://github.com/indigo77072" target="_blank"><img class="member-icon grow"
                src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>
      
          <div class="member-link">
            <a><img style="filter: blur(2px);" class="member-icon" src="{% static 'assets/img/instagram-icon.jpg' %}"
                alt="Instagram icon"></a>
          </div>
      
          <div class="member-link">
            <a href="https://www.linkedin.com/in/indigo-emanuel-3a69131a1" target="_blank"><img class="member-icon grow"
                src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- Third member... -->
      <div class = "member third-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/samuel.png' %}" alt="Samuel photo">
        <h2 class = "member-name">Samuel Kellum</h2>
        <h3 class = "member-role">Vice President of Finance</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a href = "https://github.com/samuelkellum" target = "_blank"><img class="member-icon grow" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a href = "https://www.instagram.com/samuelfkellum/" target = "_blank"><img class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a href = "https://www.linkedin.com/in/samuelkellum/" target = "_blank"><img class="member-icon grow" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- Fourth member... -->
      <div class="member fourth-member slow-grow">
        <img class="member-photo" src="{% static 'assets/img/christopher.jpg' %}" alt="Christopher photo">
        <h2 class="member-name">Christopher Lewis</h2>
        <h3 class="member-role">Vice President of Administration</h3>
      
        <footer class="member-socials">
          <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class="member-link">
            <a href="https://github.com/cml1322" target="_blank"><img class="member-icon grow"
                src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>
      
          <div class="member-link">
            <a><img style="filter: blur(2px);" class="member-icon" src="{% static 'assets/img/instagram-icon.jpg' %}"
                alt="Instagram icon"></a>
          </div>
      
          <div class="member-link">
            <a href="https://www.linkedin.com/in/christopher-m-lewis/" target="_blank"><img class="member-icon grow"
                src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- Fifth member... -->
      <div class = "member fifth-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/bharat.jpg' %}" alt="Bharat photo">
        <h2 class = "member-name">Bharat Solanky</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a href = "https://github.com/Bharatsolanky" target = "_blank"><img class="member-icon grow" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a href = "https://www.instagram.com/solankybharat/" target = "_blank"><img class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- Sixth member... -->
      <div class = "member sixth-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/lauren.jpg' %}" alt="Lauren photo">
        <h2 class = "member-name">Lauren Janko</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a href = "https://www.instagram.com/laurenjanko/" target = "_blank"><img class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- Seventh member... -->
      <div class = "member seventh-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/ananya.jpg' %}" alt="Ananya photo">
        <h2 class = "member-name">Ananya Anand</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a href="https://www.instagram.com/ananya_anand25/" target="_blank"><img class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a href="https://www.linkedin.com/in/ananya-anand-2078b41b0/" target="_blank"><img class="member-icon grow" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- 8th member... -->
      <div class = "member eighth-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/sam.png' %}" alt="Ananya photo">
        <h2 class = "member-name">Sam Demarinis</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a href="https://github.com/samdemarinis"><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a href="https://www.instagram.com/sam_demarinis/" target="_blank"><img class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a href="https://www.linkedin.com/in/sam-demarinis-50318020b/" target="_blank"><img class="member-icon grow" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- 9th member... -->
      <div class = "member ninth-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/miranda.png' %}" alt="Ananya photo">
        <h2 class = "member-name">Miranda Diaz</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a href="https://github.com/mirandad03"><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a href="https://www.instagram.com/miranda_diaz03/" target="_blank"><img class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a href="linkedin.com/in/miranda-diaz-622759227" target="_blank"><img class="member-icon grow" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- 10th member... -->
      <div class = "member tenth-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/sydney.png' %}" alt="Ananya photo">
        <h2 class = "member-name">Sydney Feldman</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon grow" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>

      <!-- 11th member... -->
      <div class = "member tenth-member slow-grow">
        <img class = "member-photo" src="{% static 'assets/img/ben.jpeg' %}" alt="Ananya photo">
        <h2 class = "member-name">Ben Horowitz</h2>
        <h3 class = "member-role">E-Board Member</h3>

        <footer class="member-socials"> <!-- Animate the logos to get larger when you hover over them!!! -->
          <div class = "member-link">
            <a href="https://github.com/Hhorowitz734"><img class="member-icon" src="{% static 'assets/img/github-icon.png' %}" alt="Github icon"></a>
          </div>

          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon grow" src="{% static 'assets/img/instagram-icon.jpg' %}" alt="Instagram icon"></a>
          </div>

          <div class = "member-link">
            <a><img style = "filter: blur(2px);" class="member-icon grow" src="{% static 'assets/img/linkedin-icon.png' %}" alt="LinkedIn icon"></a>
          </div>
        </footer>
      </div>


    </div>

      <div>
        <h2 class="members-header">
          <i>Active</i> General Body Members
        </h2>

        <table id="general-body-members-table">
          <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Membership Tier </th>
            <th> Points </th>
          </tr>

          {% for user in active_members %}
          <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.membership_tier }}</td>
            <td>{{ user.membership_points }}</td>
          </tr>

          {% endfor %}
        </table>
      </div>

      {% endblock %}
</html>
